################
# APP CONFIG
################
export ENV=local
# export ENV=development
export DB_URL_LOCAL=postgresql+asyncpg://local:local@localhost:5433/local
export DB_URL_DEV=123


################
# FEATURE FLAGS
################
export FF_LANGFUSE_ENABLED=true
export FF_PROMPT_REFINEMENT_ENABLED=true
export FF_PROMPT_EXAMPLE_ROWS=true


###########
# LANGFUSE
###########
export LANGFUSE_SECRET_KEY=123
export LANGFUSE_PUBLIC_KEY=123
export LANGFUSE_HOST=123


###################
# LLM chain config
###################
export NB_PARALLEL_SQL_GEN=2
export OPENAI_API_KEY="123"
export DATASET_DESCRIPTION_FORMAT="SQL | TXT | JSON"
export MAX_RESULTS=20 # If returning a long list of results from the db, truncate them to this length
