/* --------------------------------------------------------------- */
/* CUSTOM STYLES */
/* --------------------------------------------------------------- */


.feedback-form-container {
  padding: 20px;
  margin-top: 30px;
}

.questionBtnsContainer button {
  margin-right: 10px;
}

.logs-container * {
  margin-top: 20px;
  font-size: 12px !important;
}

.sql-viewer-container {
  position: relative
}

.copy-clipboard-button {
  position: absolute;
  top: 0;
  right:0;
  /* height: 40px; */
  padding: 5px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  z-index: 100;
  user-select: none; 
}

.copy-clipboard-button:hover {
  cursor: pointer;
  color: white;
  background-color: #888;
}

.copy-clipboard-button:active {
  background-color: green;
}

.answer-banner {
  max-width: 100% !important
}


/**
*  Date Picker
*/

.rs-input-group.rs-input-group-lg.rs-input-group-inside {
  border: 2px solid black;
  cursor: pointer;
  border-radius: 0;
}

input.rs-date-range-input.rs-input {
  cursor: pointer;
}

/* Actual calendar widget */
div.rs-picker-daterange-content {
  font-family: GDS Transport, arial, sans-serif !important;
}
