/* --------------------------------------------------------------- */
/* CUSTOM STYLES */
/* --------------------------------------------------------------- */


.feedback-form-container {
  padding: 20px;
  margin-top: 30px;
}

.questionBtnsContainer button {
  margin-right: 10px;
}